extends layout

block content
    button(class="accordion") NOVO EVENTO&nbsp;&nbsp;
        i(class="fas fa-calendar-plus" style="color:#fefefe")
    div(class="panel")
        .w3-container
            form.w3-container.w3-margin-top(method='POST' action='/admin/evento')
                .w3-row.w3-section
                    .w3-col(style="width:4%")
                        i(class="fa fa-music" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-rest
                        input.w3-input.w3-border(type='text' name='designacao' placeholder='Designação')
                .w3-row.w3-section
                    .w3-col(style="width:4%")
                        i(class="fa fa-calendar" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-rest
                        input.w3-input.w3-border(type='text' name='data' placeholder='Data: AAAA-MM-DD')
                .w3-row.w3-section
                    .w3-col(style="width:4%")
                        i(class="fas fa-map-marked-alt" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-rest
                        input.w3-input.w3-border(type='text' name='local' placeholder='Local')
                i(class="fas fa-drum" style="color:#c0b283").w3-xxlarge.w3-left
                span
                    input(class="w3-radio" type="radio" name="tipo" value="Concerto" checked)
                    label Concerto
                    input(class="w3-radio" type="radio" name="tipo" value="Ensaio")
                    label Ensaio
                .w3-row.w3-section
                    .w3-col(style="width:4%")
                        i(class="fas fa-hourglass-half" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:48%; padding-right: 2%;")
                        input.w3-input.w3-border(type='text' name='horario.hinicio' placeholder='Hora de Início')
                    .w3-rest
                        input.w3-input.w3-border(type='text' name='horario.hfim' placeholder='Hora de Fim')
                .w3-row.w3-section
                    .w3-col(style="width:4%")
                        i(class="fa fa-info-circle" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-rest
                        input.w3-input.w3-border(type='text' name='informacoes' placeholder='Informações')
                .w3-center.w3-padding.w3-margin-bottom
                    input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='ADICIONAR')
 
        script(src='/javascripts/collapsible.js')

    ul(class="list") 
        each e in eventos 
            li(class="list-item").w3-card-4.w3-center
                div(class="list-content")
                    .w3-container.w3-charcoal
                        div.w3-padding.w3-margin
                            h3= e.tipo
                            if e.designacao
                                h4(style="color:#c0b283")= e.designacao
                    .w3-container
                        div.w3-padding
                            i(class="fa fa-calendar" style="color:#c0b283") &nbsp;&nbsp;
                            span= e.data
                        div.w3-padding
                            i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                            span= e.local
                        if e.horario
                            div.w3-padding
                                i(class="fas fa-hourglass-half" style="color:#c0b283") &nbsp;&nbsp;
                                span= e.horario.hinicio 
                                span &nbsp;-&nbsp;
                                span= e.horario.hfim
                        if e.informacoes
                            div.w3-padding
                                i(class="fa fa-info-circle" style="color:#c0b283") &nbsp;&nbsp;
                                span= e.informacoes
                    .w3-container.w3-margin-bottom
                        div.w3-padding
                            a(href="/admin/evento/remover/" + e._id)
                                button.w3-btn.w3-pale-gold.w3-padding-small REMOVER&nbsp;&nbsp;
                                    i(class="fa fa-trash" style="color:#373737")
                        div.w3-padding
                            a(href="")
                                button.w3-btn.w3-pale-gold.w3-padding-small EDITAR&nbsp;&nbsp;
                                    i(class="fa fa-edit" style="color:#373737")

    i(class="fa fa-search" style="color:#c0b283")
                
                
                
  
