extends layout

block content
  .w3-container
    table.w3-table-all(style="margin-top: 60px;")
      tr
        th Data
        th Horário
        th Tipo
        th Designação
        th Local
        th Informações
      each e in eventos
        tr
          td
            a(href='/evento/dataex/' + e._id)= e.data

          if e.horario
            td= e.horario
          else
            td ----

          td= e.tipo

          if e.designacao
            td= e.designacao
          else
            td ----

          if e.local
            td= e.local
          else
            td ----

          if e.informacoes
            td= e.informacoes
          else
            td ----

    

  
