extends layout

block content
    button(class="accordion") NOVA OBRA &nbsp;&nbsp;
        i(class="fas fa-guitar" style="color:#fefefe")
    div(class="panel")
        .w3-container
            form.w3-container.w3-margin-top(method='POST' action='/admin/obra')
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-music" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='titulo' placeholder='Título')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fas fa-compact-disc" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='tipo' placeholder='Tipo')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-user" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='compositor' placeholder='Compositor')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-user-circle" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='arranjo' placeholder='Arranjo')
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fas fa-drum" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        h5(style="color:#373737;") Instrumentos:
                        .w3-container
                            div(class="field_wrapper")
                                a(href="javascript:void(0);" class="add_button" title="Add field")
                                    span 
                                        i(class="fa fa-plus-square" style="color:#373737").w3-large.w3-left 
                p(style="color:red;") * Campos de preenchimento obrigatório
                .w3-center.w3-padding.w3-margin-bottom
                    input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='ADICIONAR')

    button(class="accordion") SUBMETER PARTITURA &nbsp;&nbsp;
        img(src="/images/clave_sol.png" style="width:10px;")
    div(class="panel")
        .w3-container
            form.w3-container.w3-margin-top(method='POST' action='/admin/partitura' enctype='multipart/form-data')
                label
                    b Ficheiro da Partitura:
                    input(class="w3-input w3-border w3-theme-l3" style="width:100%" type='file' name='ficheiro' value='Selecionar ficheiro')
                input.w3-btn.w3-pale-gold.w3-padding.w3-margin-top.w3-margin-bottom(type='submit' value='SUBMETER')

    button(class="accordion") PESQUISAR &nbsp;&nbsp;
        i(class="fa fa-search" style="color:#fefefe")
    div(class="panel")
        .w3-container
            .w3-row.w3-section
                .w3-col(style="width:20%").w3-left
                    button.w3-button.w3-pale-gold(id='tipoButton' style="width:95%") Pesquisar pelo tipo: &nbsp;
                .w3-rest
                    input.w3-input.w3-border(id='tipoPesq' placeholder='Introduza o tipo da obra.')
            .w3-row.w3-section
                .w3-col(style="width:20%").w3-left
                    button.w3-button.w3-pale-gold(id='compositorButton' style="width:95%") Pesquisar pelo compositor: &nbsp;
                .w3-rest
                    input.w3-input.w3-border(id='compositorPesq' placeholder='Introduza o compositor.')
            .w3-row.w3-section
                .w3-col(style="width:20%").w3-left
                    button.w3-button.w3-pale-gold(id='tituloButton' style="width:95%") Pesquisar pelo título: &nbsp;
                .w3-rest
                    input.w3-input.w3-border(id='tituloPesq' placeholder='Introduza o título da obra.')

    script(src='/javascripts/collapsible.js')

    ul(class="list-third")
        each o in obras 
            li(class="list-item-third").w3-card-4.w3-center
                div(class="list-content-third")
                    .w3-container.w3-charcoal
                        div.w3-margin
                            h3= o.titulo
                            h4(style="color:#c0b283")= o.tipo
                    .w3-container
                        div.w3-padding
                            i(class="fa fa-user" style="color:#c0b283") &nbsp;&nbsp;
                            span= o.compositor
                        if o.arranjo
                            div.w3-padding
                                i(class="fa fa-user-circle" style="color:#c0b283") &nbsp;&nbsp;
                                span= o.arranjo
                        button(class="accordion" style="font-size:1em; padding: 10px;") Instrumentos &nbsp;&nbsp;
                            i(class="fas fa-drum" style="color:#fefefe")
                        div(class="panel" style="margin-left:5.5%; text-align: left; height: 150px; overflow: scroll;")
                            .w3-container(style="margin-left:-7%;")
                                each i in o.instrumentos
                                    div(style="padding-top:5%")
                                        img(src="/images/clave_sol_gold.png" style="width:8px;margin:1.5%;")
                                        b
                                            span= i.nome
                                    if i.partitura.path
                                        div(style="padding-left:8%")
                                            i(class="fa fa-file-text" style="color:#c0b283") &nbsp;&nbsp;
                                            a(href="/admin/obra/downloadPartitura/"+i.partitura.path style="margin-left:0%;text-decoration: underline;")
                                                span(style="font-size:1em;color:#373737")= i.partitura.path
                                    if i.partitura.voz
                                        div(style="padding-left:8%")
                                            i(class="fa fa-microphone" style="color:#c0b283") &nbsp;&nbsp;
                                            span= i.partitura.voz
                                    if i.partitura.afinacao
                                        div(style="padding-left:8%")
                                            i(class="fas fa-volume-up" style="color:#c0b283") &nbsp;&nbsp;
                                            span= i.partitura.afinacao
                                    if i.partitura.clave
                                        div(style="padding-left:8%")
                                            i(class="fas fa-microphone-alt" style="color:#c0b283") &nbsp;&nbsp;
                                            span= i.partitura.clave
                        script(src='/javascripts/collapsible.js')
                    footer.w3-container.w3-margin-top.w3-margin-bottom
                        a(href="/admin/obra/remover/"+o.titulo style="margin-left:0%;")
                            button.w3-btn.w3-pale-gold.w3-padding-small REMOVER&nbsp;&nbsp;
                                i(class="fa fa-trash" style="color:#373737")
                        button(onclick="document.getElementById('"+o._id+"').style.display='block'").w3-btn.w3-pale-gold.w3-padding-small EDITAR&nbsp;&nbsp;
                            i(class="fa fa-edit" style="color:#373737")
                        div(id=""+o._id+"" class="modal")
                            .modal-content
                                .w3-container.w3-charcoal
                                    span(onclick="document.getElementById('"+o._id+"').style.display='none'" class="close").w3-padding-small.w3-margin-top-5 &times;
                                    .w3-center
                                        h4.w3-padding EDITAR OBRA
                                .w3-container
                                    form.w3-container.w3-margin-top(method='POST' action='/admin/obra')
                                        input(type="hidden" name="_id" value=o._id)
                                        .w3-row.w3-section
                                            .w3-col(style="width:11%")
                                                i(class="fa fa-music" style="color:#c0b283").w3-xxlarge.w3-left
                                            .w3-rest
                                                input.w3-input.w3-border(type='text' name='titulo' value=o.titulo placeholder='Título')
                                        .w3-row.w3-section
                                            .w3-col(style="width:11%")
                                                i(class="fas fa-compact-disc" style="color:#c0b283").w3-xxlarge.w3-left
                                            .w3-rest
                                                input.w3-input.w3-border(type='text' name='tipo' value=o.tipo placeholder='Tipo')
                                        .w3-row.w3-section
                                            .w3-col(style="width:11%")
                                                i(class="fa fa-user" style="color:#c0b283").w3-xxlarge.w3-left
                                            .w3-rest
                                                input.w3-input.w3-border(type='text' name='compositor' value=o.compositor placeholder='Compositor')
                                        .w3-row.w3-section
                                            .w3-col(style="width:11%")
                                                i(class="fa fa-user-circle" style="color:#c0b283").w3-xxlarge.w3-left
                                            .w3-rest
                                                input.w3-input.w3-border(type='text' name='arranjo' value=o.arranjo placeholder='Arranjo')
                                        h5(style="color:#373737;").w3-left Instrumentos:
                                        each i in o.instrumentos
                                            .w3-row.w3-section
                                                .w3-col(style="width:11%")
                                                    img(src="/images/clave_sol_gold.png" style="width:12px;margin:1.5%;")
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='i.nome' value=i.nome placeholder='Nome')
                                            .w3-row.w3-section(style="padding-left:8%")
                                                .w3-col(style="width:11%")
                                                    i(class="fa fa-file-text" style="color:#c0b283").w3-xxlarge.w3-left
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='i.partitura.path' value=i.partitura.path placeholder='Path')
                                            .w3-row.w3-section(style="padding-left:8%")
                                                .w3-col(style="width:11%")
                                                    i(class="fa fa-microphone" style="color:#c0b283").w3-xxlarge.w3-left
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='i.partitura.voz' value=i.partitura.voz placeholder='Voz')
                                            .w3-row.w3-section(style="padding-left:8%")
                                                .w3-col(style="width:11%")
                                                    i(class="fas fa-volume-up" style="color:#c0b283").w3-xxlarge.w3-left
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='i.partitura.afinacao' value=i.partitura.afinacao placeholder='Afinação')
                                            .w3-row.w3-section(style="padding-left:8%")
                                                .w3-col(style="width:11%")
                                                    i(class="fas fa-microphone-alt" style="color:#c0b283").w3-xxlarge.w3-left
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='i.partitura.clave' value=i.partitura.clave placeholder='Clave')
                                        .w3-center.w3-padding.w3-margin-bottom
                                            input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='EDITAR')

                
                
                
  
