extends layout

block content
    button(class="accordion") NOVA OBRA&nbsp;&nbsp;
        i(class="fas fa-calendar-plus" style="color:#fefefe")
    div(class="panel")
        .w3-container
            form.w3-container.w3-margin-top(method='POST' action='/admin/obra' enctype='multipart/form-data')
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-music" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='titulo' placeholder='Título')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fas fa-compact-disc" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='tipo' placeholder='Tipo')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-user" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='compositor' placeholder='Compositor')
                    .w3-rest.w3-right
                        p(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-user-circle" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='arranjo' placeholder='Arranjo')
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fas fa-drum" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        h5(style="color:#373737;") Instrumentos:
                        .w3-container
                            div(class="field_wrapper")
                                a(href="javascript:void(0);" class="add_button" title="Add field")
                                    span 
                                        i(class="fa fa-plus-square" style="color:#373737").w3-large.w3-left 
                p(style="color:red;") * Campos de preenchimento obrigatório
                .w3-center.w3-padding.w3-margin-bottom
                    input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='ADICIONAR')

    button(class="accordion") PESQUISAR &nbsp;&nbsp;
        i(class="fa fa-search" style="color:#fefefe")
    div(class="panel")
        .w3-container

    script(src='/javascripts/collapsible.js')

    ul(class="list")
        each o in obras 
            li(class="list-item").w3-card-4.w3-center
                div(class="list-content")
                    .w3-container.w3-charcoal
                        div.w3-padding.w3-margin
                            h3= o.titulo
                            h4(style="color:#c0b283")= o.tipo
                    .w3-container
                        div.w3-padding
                            i(class="fa fa-calendar" style="color:#c0b283") &nbsp;&nbsp;
                            span= o.compositor
                        if o.arranjo
                            div.w3-padding
                                i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                span= o.arranjo
                        h5 INSTRUMENTOS
                        each i in o.instrumentos
                            div.w3-padding
                                i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                span= i.nome
                            if i.partitura.path
                                div.w3-padding
                                    i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                    span= i.partitura.path
                            if i.partitura.voz
                                div.w3-padding
                                    i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                    span= i.partitura.voz
                            if i.partitura.afinacao
                                div.w3-padding
                                    i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                    span= i.partitura.afinacao
                            if i.partitura.clave
                                div.w3-padding
                                    i(class="fas fa-map-marked-alt" style="color:#c0b283") &nbsp;&nbsp;
                                    span= i.partitura.clave
                    .w3-container.w3-margin-bottom
                        div.w3-padding
                            a(href="")
                                button.w3-btn.w3-pale-gold.w3-padding-small REMOVER&nbsp;&nbsp;
                                    i(class="fa fa-trash" style="color:#373737")
                
                
                
  
