extends layout

block content
    button(class="accordion") CRIAR REPERTÓRIO &nbsp;&nbsp;
        i(class="material-icons" style="color:#fefefe") &#xe030;
    div(class="panel")
        .w3-container
            form.w3-container.w3-margin-top(method='POST' action='/admin/repertorio')
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fa fa-calendar" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        input.w3-input.w3-border(type='text' name='evento' placeholder='Evento')
                    .w3-rest.w3-right
                        span(style="color:red;") *
                .w3-row.w3-section
                    .w3-col(style="width:6%")
                        i(class="fas fa-drum" style="color:#c0b283").w3-xxlarge.w3-left
                    .w3-col(style="width:91%")
                        h5(style="color:#373737;") Obras:
                        .w3-container
                            div(class="field_wrapper")
                                a(href="javascript:void(0);" class="add_button" title="Add field")
                                    span 
                                        i(class="fa fa-plus-square" style="color:#373737").w3-large.w3-left 
                p(style="color:red;") * Campos de preenchimento obrigatório
                .w3-center.w3-padding.w3-margin-bottom
                    input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='ADICIONAR')


    button(class="accordion") PESQUISAR &nbsp;&nbsp;
        i(class="fa fa-search" style="color:#fefefe")
    div(class="panel")
        .w3-container
            .w3-row.w3-section
                .w3-col(style="width:20%").w3-left
                    button.w3-button.w3-pale-gold(id='eventoRepButton' style="width:95%") Pesquisar pelo evento: &nbsp;
                .w3-rest
                    input.w3-input.w3-border(id='eventoRepPesq' placeholder='Introduza o evento.')
            .w3-row.w3-section
                .w3-col(style="width:20%").w3-left
                    button.w3-button.w3-pale-gold(id='obraRepButton' style="width:95%") Pesquisar pela obra: &nbsp;
                .w3-rest
                    input.w3-input.w3-border(id='obraRepPesq' placeholder='Introduza o nome da obra.')

    script(src='/javascripts/collapsible.js')

    ul(class="list-third")
        each r in repertorio 
            li(class="list-item-third").w3-card-4
                div(class="list-content-third")
                    .w3-container.w3-charcoal
                        div.w3-padding.w3-margin-top.w3-margin-bottom
                            a(href="/admin/evento/"+r.evento style="margin-left:0%;text-decoration: none;")
                                span(style="font-size:1.5em;")= r.evento
                    .w3-container
                        each o in r.obras
                            div.w3-padding-small
                                img(src="/images/clave_sol_gold.png" style="width:10px;margin:1.5%;")
                                a(href="/admin/obra/"+o style="margin-left:0%;text-decoration: underline;")
                                    span(style="font-size:1em;color:#373737")= o
                    .w3-container.w3-margin-bottom.w3-margin-top.w3-center
                        a(href="/admin/repertorio/remover/" + r._id style="margin-left:0%;")
                            button.w3-btn.w3-pale-gold.w3-padding-small REMOVER&nbsp;&nbsp;
                                i(class="fa fa-trash" style="color:#373737")
                        button(onclick="document.getElementById('"+r._id+"').style.display='block'").w3-btn.w3-pale-gold.w3-padding-small EDITAR&nbsp;&nbsp;
                            i(class="fa fa-edit" style="color:#373737")
                        div(id=""+r._id+"" class="modal")
                            .modal-content
                                .w3-container.w3-charcoal
                                    span(onclick="document.getElementById('"+r._id+"').style.display='none'" class="close").w3-padding-small.w3-margin-top-5 &times;
                                    .w3-center
                                        h4.w3-padding EDITAR REPERTÓRIO
                                .w3-container
                                    form.w3-container.w3-margin-top(method='POST' action='/admin/repertorio/editar')
                                        input(type="hidden" name="_id" value=r._id)
                                        .w3-row.w3-section
                                            .w3-col(style="width:11%")
                                                i(class="fa fa-calendar" style="color:#c0b283").w3-xxlarge.w3-left
                                            .w3-rest
                                                input.w3-input.w3-border(type='text' name='evento' value=r.evento placeholder='Evento')
                                        each o in r.obras
                                            .w3-row.w3-section
                                                .w3-col(style="width:6%")
                                                    p
                                                .w3-col(style="width:11%")
                                                    i(class="fas fa-guitar" style="color:#c0b283").w3-xxlarge.w3-left
                                                .w3-rest
                                                    input.w3-input.w3-border(type='text' name='obras' value=o placeholder='Obra')
                                        .w3-row.w3-section
                                            div(class="fieldwrapper" style="margin-left:6%;")
                                                a(href="javascript:void(0);" class="addbutton" title="Add field")
                                                    span
                                                        i(class="fa fa-plus-square" style="color:#373737").w3-large.w3-left 
                                        .w3-center.w3-padding.w3-margin-bottom
                                            input.w3-btn.w3-pale-gold.w3-padding(type='submit' value='EDITAR')
                        
